In [1]:
def solveMeFirst(a,b):
	# Hint: Type return a+b below
    return a+b


num1 = int(input())
num2 = int(input())
res = solveMeFirst(num1,num2)
print(res)

 2
 3

5

In [23]:
import math
import os
import random
import re
import sys



if __name__ == '__main__':
    n = int(input().strip())
    
    if n%2 == 0:
        if (2<=n) and (n<=5):
            print('Not Weird')
        elif (6<=n) and (n<=20):
            print('Weird')
        else:
            print('Not Weird')
    else:
        print('Weird')

 2

Not Weird

In [30]:
if __name__ == '__main__':
#     n = int(input())
    n = 5
    
    for int_ in range(0, n):
        print(int(int_**2))

0
1
4
9
16

# エムスリー

**1**

In [72]:
text = ' M3 is a company which provides medical-related services through the use of the Internet since 2000. \ M3 stands for Medicine, Media and Metamorphosis.'

In [75]:
text = input()
count = 0
lst = []
for t in text.split(' '):
    t_1 = t[:1]
    if str.isupper(t_1):
        if not t in lst:
            lst.append(t)
            count += 1
    if str.isdecimal(t_1):
        if not t in lst:
            lst.append(t)
            count += 1
print(count)

 3 3 5 Hoge hoge G

4

In [43]:
str.isupper('3')

False

False

**2**

In [102]:
input_ = "1, 2, 3, 4, 4, 6, 7, 0, 0, 5, 5, 5, 8, 9"
# input_ = input()
input_ = list(map(int, input().split(',')))

lst = ''
prev = -1000
for i, num in enumerate(input_):
    n = i + 1
    
    if prev == num:
#         lst.append(num)
        lst = lst + str(f'{num},')
    else:
        if n%2 == 0:
#             lst.append(num)
            lst = lst + str(f'{num},')
    prev = num
print(lst)

 3,5,5,4,4

5,5,4,4,

In [100]:
input_ = "1,2,3,4,4,6,7,0,0,5,5,5,8,9"
input__ = [int(n) for n in input_.split(',')]
input__

[1, 2, 3, 4, 4, 6, 7, 0, 0, 5, 5, 5, 8, 9]

In [104]:
lst[:-1]

'5,5,4,4'

**3**

In [117]:
input_ = 'Japanese,Mathematics,History,Science \n 71,43,75,68\n 69,89,54,77\n 89,76,49,98\n 79,61,54,83'

In [118]:
input_

'Japanese,Mathematics,History,Science \n 71,43,75,68\n 69,89,54,77\n 89,76,49,98\n 79,61,54,83'